<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auth0.Core" version="7.12.1" targetFramework="net472" />
  <package id="Auth0.ManagementApi" version="7.12.1" targetFramework="net472" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="FireSharp" version="2.0.4" targetFramework="net472" />
  <package id="Google.Apis" version="1.55.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.55.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.55.0" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.55.0.2566" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net472" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Build" version="16.8.0" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="16.8.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NuGet.Commands" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Common" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Credentials" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.DependencyResolver.Core" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.LibraryModel" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Packaging" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.ProjectModel" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Protocol" version="6.1.0" targetFramework="net472" />
  <package id="NuGet.Versioning" version="6.1.0" targetFramework="net472" />
  <package id="SharpCompress" version="0.30.1" targetFramework="net472" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>